@import 'utils';
@import 'fonts';
@import 'typography';

@import 'module/header';
@import 'module/hero';
@import 'module/bake';
@import 'module/info';
@import 'module/footer';


html {
  scroll-behavior: smooth;
}


body {
  background: $c-blue;
  color: #1C1A26;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}