
@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}


// Mobile first
@mixin container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(136px, 1fr));
  gap: 16px;

  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @media (min-width: $tablet-min-width) {
    grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
    gap: 24px;
    padding: 0 44px;

    // padding: 0 35px;
  }

  @media (min-width: $desktop-min-width) {
    grid-template-columns: repeat(auto-fill, minmax(118px, 1fr));

    // padding: 0 55px;
  }

  @media (min-width: $desktop-wide-min-width) {
    grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));

    // padding: 0 55px;
    padding: 0;
  }
}

.tablet-visible {
  @media (min-width: $tablet-min-width) {
    display: block;
  }
}

// @mixin on-tablet {
//   @media (min-width: $tablet-min-width) {
//     @content;
//   }
// }

// @mixin on-desktop {
//   @media (min-width: $desktop-min-width) {
//     @content;
//   }
// }

// @mixin on-desktop-wide {
//   @media (min-width: $desktop-wide-min-width) {
//     @content;
//   }
// }