.header {
    @include container;

    align-items: center;
    min-height: 64px;

    &__left {
        grid-column: span 1;

        @media (min-width: $tablet-min-width) {
            grid-column: span 2;
        }
    }

    &__right {
        display: flex;
        justify-content: flex-end;

        @media (min-width: $tablet-min-width) {
            grid-column: span 3 / -1;
        }
    }

    &__toggle {
        display: block;
        border: none;

        @media (min-width: $desktop-min-width) {
            display: none;
        }
    }

    &__menu {
        display: none;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-between;

        width: 100%;
        margin: 0;
        padding: 0;

        list-style: none;

        a {
            font-size: 16px;
            line-height: 1.5;
            color: #1C1A26;
            text-decoration: none;
        }

        @media (min-width: $desktop-min-width) {
            display: flex;
        }
    }

    .hightlight {
        color: #F9512E;
        display: flex;
        align-items: center;
        gap: 8px;
        text-transform: uppercase;
    }

     @media (min-width: $tablet-min-width) {
        padding: 0 20px;
    }

    @media (min-width: $desktop-min-width) {
        padding: 0 40px;
    }
}